.food-card{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.64rem;
  margin: 0.63rem 0;
  border-radius: 1rem;
  background: #FFF;
  height: 8.5rem;
  gap: 0.5rem;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
}

.food-img{
  height: 100%;
  width: 40%;
}

.name-and-price{
  width: 60%;
  height: 100%;
}

.card-item-name{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: flex-start;
  position: relative;
  align-items: center;
}

.card-item-name p{
  height: auto;
  width: 85%;
  color: #4A4B4F;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-item-name img{
  position: absolute;
  right: 0;
  top: 0;
  margin: 2%;
}

.card-item-price{
  width: 100%;
  height: 26%;
  display: flex;
  align-items: center;
  color: #1E1F21;
  font-family: Roboto;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card-add-btn{
  width: 60%;
  height: 34%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #FFF;
  color: #2BA648;
  font-family: 'Poppins';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;border-radius: 0.625rem;
  border: 1px solid #c8c8c8;
  cursor: pointer;
}
