.home-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-top {
  width: 100%;
  height: auto;
  padding:0 1rem;
  margin-top: 1.3rem;
}

.home-top-content {
  width: 93%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  margin: 0 auto;
}

.home-top-content p {
  color: #000;
  font-family: Fuzzy Bubbles;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.home-search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search-sec {
  width: 100%;
  display: flex;
  align-items: center;
  display: inline-flex;
  padding: 0.75rem 1rem;
  gap: 0.5rem;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
}

.search-sec input {
  width: stretch;
  height: 100%;
  border: none;
  outline: none;
}

.home-header {
  margin: 1rem 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.home-header p {
  color: #4f4f50;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.home-header hr {
  margin: 0 0.5rem;
  flex: 1;
  height: 1px;
  background-color: #888888;
  border: none;
}

.home-header img {
  opacity: 0.6;
}

.menu-section {
  width: 100%;
  padding: 0 1rem;
}

.loading-state {
  background-color: rgb(251, 237, 198);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-state img {
  width: 100%;
}
