* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(100vw, 22.5rem);
  position: relative;
  margin: 0 auto;
  background: linear-gradient(180deg, rgba(97, 218, 255, 0.536) 0vh, rgba(255, 255, 255, 0.5) 35vh);
}

@media (max-width: 480px) {
  .app {
    width: 100vw;
  }
}
