* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(100vw, 22.5rem);
  position: relative;
  margin: 0 auto;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.25);
}

@media (max-width: 480px) {
  .app {
    width: 100vw;
  }
}


