.nav-bar{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-logo-n-msg{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.nav-msg{
  color: #000;
  font-family: Poppins;
  font-size: 0.876rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.nav-bar button{
  background-color: inherit;
  border: none;
  outline: none;
  display: flex;
  height: 100%;
}

