.side-bar{
  width: min(100vw, 22.5rem);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: fixed;
  top: 0;
  background-color: #FFF;
  z-index: 950;
}

@media screen and (max-width: 480px) {
  .side-bar{
    width: 100vw;
  }
}

.side-bar-header{
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.5rem 1.5rem;
  gap: 1rem;
  border-bottom: 1px solid #E8E8E8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.5rem;
}

.close-sidebar{
  background-color: inherit;
  border: none;
  display: flex;
}

.back-arw{
  height: 1.5rem;
  width: 1.5rem;
}

.sb-title{
  color: #001F31;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.side-bar-option{
  width: 90%;
  position: relative;
  border-radius: 1.375rem;
  background: #F2F3F5;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #001F31;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 1.5rem 2rem;
  gap: 1rem;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

.side-bar-option img:nth-child(1){
  height: 1.5rem;
  width: 1.5rem;
}

.side-bar-option:hover{
  background: #E6E7EB;
  cursor: pointer;
}

.sb-r-arw{
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  height: 1.5rem;
  width: 1.5rem;
}

.side-bar a{
  display: flex;
  align-items: center;
}

.side-bar a:hover,
.side-bar a:visited,
.side-bar a:active,
.side-bar a:focus {
  text-decoration: none;
}

.side-bar-footer{
  width: 100%;
  position: absolute;
  height: 15rem;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background: linear-gradient(180deg, #FFF 5.58%, #FFF 42.49%, #A7D9FF 75.99%, #3680CF 103.27%);
}

.side-bar-footer p{
  color: #848484;
  font-family: poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}